
<% if (message) { %>
    <p class="flash-error"><%= message %></p>
<% } %>
<% if (message2) { %>
    <p class="flash-success"><%= message2 %></p>
<% } %>
<% if (message3) { %>
    <p class="flash-success"><%= message3 %></p>
<% } %>
<% if (message4) { %>
    <p class="flash-success"><%= message4 %></p>
<% } %>

