<nav>
    <% if (user) { %>
        <a href="/user">Profile</a>
        <a href="/auth/logout">Logout</a>
        <a href="#">Manage Users</a>
    <% } else { %>
        <a href="/">Home</a>
        <a href="/auth/register">Register</a>
        <a href="/auth/login">Login</a>
    <% } %>
</nav>
