<%- include('./layouts/header') %>

<div class="intro-container">
    <h2>Introduction</h2>
    <p>
        Hello there! I'm Aditya Vikram Singh, a passionate and enthusiastic 2nd-year student at the esteemed National Institute of Technology (NIT), Jamshedpur.
        As a student of Electrical Branch, I have embarked on a thrilling journey into the world of technology, constantly seeking to expand my knowledge and skills.
      </p>
    
      <p>
        My fascination with web development has become a driving force in my academic pursuits. I find joy in crafting elegant and efficient solutions, and my journey is marked by the exploration of various web technologies.
        From HTML and CSS for creating beautiful and responsive user interfaces to JavaScript for dynamic and interactive web applications, I am committed to mastering the art of web development.
      </p>
    
      <p>
        One of my key areas of focus is backend development. I am deeply intrigued by the logic and intricacies of server-side programming, and I aspire to contribute meaningfully to the open-source community as a backend developer.
        My goal is not just to write code but to architect robust and scalable systems that solve real-world problems.
      </p>
    
      <p>
        Beyond the realms of academia and coding, you'll often find me immersed in the world of open source, where I actively collaborate with like-minded individuals and learn from the collective wisdom of the developer community.
        I believe in the power of sharing knowledge and contributing to projects that have a positive impact on the world.
      </p>
    
      <p>
        Join me on this exciting journey as I continue to learn, grow, and make a mark in the vast and ever-evolving landscape of web development and open source. Let's build amazing things together!
      </p>
  </div>


<%- include('./layouts/footer') %>